
ITMO_ChesnokovL_Lab1/.vs/ITMO_ChesnokovL_Lab1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.opendb
ITMO_ChesnokovL_Lab1_Control/.vs/ITMO_ChesnokovL_Lab1_Control/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_1/.vs/ITMO_ChesnokovL_Lab2_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_1_2/.vs/ITMO_ChesnokovL_Lab2_1_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_2_1/.vs/ITMO_ChesnokovL_Lab2_2_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_2_2/.vs/ITMO_ChesnokovL_Lab2_2_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.opendb
ITMO_ChesnokovL_Lab2_Control1/.vs/ITMO_ChesnokovL_Lab2_Control1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_Control2/.vs/ITMO_ChesnokovL_Lab2_Control2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_Control3/.vs/ITMO_ChesnokovL_Lab2_Control3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_Control4/.vs/ITMO_ChesnokovL_Lab2_Control4/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_Control4/.vs/ITMO_ChesnokovL_Lab2_Control4/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab2_Control4/.vs/ITMO_ChesnokovL_Lab2_Control4/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab2_Control4/.vs/ITMO_ChesnokovL_Lab2_Control4/v17/Browse.VC.opendb
ITMO_ChesnokovL_Lab3_Control1/.vs/ITMO_ChesnokovL_Lab3_Control1/v17/Browse.VC.db-shm
ITMO_CesnokovL_Lab3_1_2/.vs/ITMO_CesnokovL_Lab3_1_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_1/.vs/ITMO_ChesnokovL_Lab3_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_2/.vs/ITMO_ChesnokovL_Lab3_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_3/.vs/ITMO_ChesnokovL_Lab3_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_4_2/.vs/ITMO_ChesnokovL_Lab3_4_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_Control1/.vs/ITMO_ChesnokovL_Lab3_Control1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_Control1/.vs/ITMO_ChesnokovL_Lab3_Control1/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab3_Control1/.vs/ITMO_ChesnokovL_Lab3_Control1/v17/Browse.VC.opendb
ITMO_ChesnokovL_Lab4_2/.vs/ITMO_ChesnokovL_Lab4_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab_3_4_1/.vs/ITMO_ChesnokovL_Lab4_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab5_3/.vs/ITMO_ChesnokovL_Lab5_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/v17/.suo
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/FileContentIndex/5f204c2f-4488-4f47-8bab-162eb4e5b650.vsidx
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/FileContentIndex/4c0702ad-4330-4959-891e-66c7da9396c1.vsidx
ITMO_ChesnokovL_Lab6_1/.vs/ITMO_ChesnokovL_Lab6_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab5_Control2/.vs/ITMO_ChesnokovL_Lab5_Control2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab5_2/.vs/ITMO_ChesnokovL_Lab5_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab5_1/.vs/ITMO_ChesnokovL_Lab5_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab4_Control2/.vs/ITMO_ChesnokovL_Lab4_Control2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab4_Control1/.vs/ITMO_ChesnokovL_Lab4_Control1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab3_Control3/.vs/ITMO_ChesnokovL_Lab3_Control3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/v17/.suo
ITMO_ChesnokovL_Lab6_Control2/.vs/ITMO_ChesnokovL_Lab6_Control2/FileContentIndex/5f204c2f-4488-4f47-8bab-162eb4e5b650.vsidx
ITMO_ChesnokovL_Lab3_Control3/.vs/ITMO_ChesnokovL_Lab3_Control3/v17/Browse.VC.db
