
ITMO_ChesnokovL_Lab1/.vs/ITMO_ChesnokovL_Lab1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.opendb
ITMO_ChesnokovL_Lab1_Control/.vs/ITMO_ChesnokovL_Lab1_Control/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_1/.vs/ITMO_ChesnokovL_Lab2_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_1_2/.vs/ITMO_ChesnokovL_Lab2_1_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_2_1/.vs/ITMO_ChesnokovL_Lab2_2_1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_2_2/.vs/ITMO_ChesnokovL_Lab2_2_2/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab2_3/.vs/ITMO_ChesnokovL_Lab2_3/v17/Browse.VC.opendb
