
ITMO_ChesnokovL_Lab1/.vs/ITMO_ChesnokovL_Lab1/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-shm
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.db-wal
ITMO_ChesnokovL_Lab1_3/.vs/ITMO_ChesnokovL_Lab1_3/v17/Browse.VC.opendb
